<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Forms Demo</title>
</head>

<body>
  <form action="/handle_form" method="POST">
    <p>
        What's your name? <input name="name" type="text"/><br/><br/><br/>
        What's your secret? <input name="secret" type="password"/><br/><br/>
    </p>
    
    <p>
        What's your fave color?
        <select name="colors">
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
        </select>
    </p>
    <p>
        How do you feel right now?<br>
        <input type="radio" name="feeling" value="happy">Happy<br/>
        <input type="radio" name="feeling" value="sad">Sad<br/>
        <input type="radio" name="feeling" value="angry">Angry<br/>
        <input type="radio" name="feeling" value="maudlin">Maudlin<br/>
    </p>
    <p>
        Which do you like?<br/>
        <input type="checkbox" name="like_pizza"> Pizza <br/>
        <input type="checkbox" name="like_sushi"> Sushi <br/>
        <input type="checkbox" name="like_massaman"> Massaman Curry <br/>    
    </p>

    <input type="submit" value="Submit Form"/>
  </form>  
</body>

</html>