<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Form Response</title>
</head>

<style>
    body{font-family:'Open Sans'; text-align:center;}  
    </style>

<body>
    <h1>TRAVEL GUIDE</h1>
    <img 
    src="https://media.istockphoto.com/photos/girl-who-gets-her-clothes-dirty-with-food-picture-id1291732819?b=1&k=20&m=1291732819&s=170667a&w=0&h=_taJ9F8B_a0tyUc4giVvr7RynPGE_-3XdNYdQzPe5Vw="
    width=300/> 
    <h3>OK, here is all information of the restaurant you choose! </h3>
    <p>Try call their number and book a seat! 🍴
    </p>
    </p>
    <table>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 8px;
                margin: auto
            }
        </style>
        </style>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Price</th>
            <th>Location</th>
            <th>City</th>
            <th>Zip-code</th>
            <th>Phone</th>
        </tr>
        {% for row in results %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
        </tr>
        {% endfor %}
        </tr>
        <br/><br/>
    </table>

    <h3><br/>We also provide three places of interests near the restaurant you choose! </h3>
    </p>
    <p>Maybe you could choose one of them to visit after your lunch! 🚗
    </p>

    <table>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 8px;
                margin: auto
            }
        </style>
        </style>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Catogory</th>
        </tr>
        {% for row in results2 %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
        </tr>
        {% endfor %}
        </tr>
    </table>

    <p>Enjoy Your vacation! 💗 
        </p>
  
    </form>  
</body>



<footer>
    <br>
    <br>
    <p><div class="center">© 2021 Xin Ye</div></p>
</footer>
</html>