<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Form Response</title>
</head>

<style>
    .center{text-align: center;}  
    body{font-family:'Open Sans'; text-align:center;}  
    </style>
<body>
    <h1>TRAVEL GUIDE</h1>
    <h2>Welcome to beautiful {{state}} 🎉! 
    </h2>
</body>


<body>
    <p>Below are the list of restaurants you could search! 
        </p>
</body>

<body>
    <form action="/handle_form2" method="POST">
      <p>
          Which food do you like?

          <br/>
          <input type="radio" name="food" value="American"> 🍔 American food  <br/>
          <input type="radio" name="food" value="Chinese"> 🍚 Chinese food  <br/>
          <input type="radio" name="food" value="Korean"> 🍜 Korean food  <br/>    
          <input type="radio" name="food" value="Japanese"> 🍣 Japanese food  <br/>
          <input type="radio" name="food" value="Thai"> 🦐 Thai food   <br/>
          <input type="radio" name="food" value="Mexican"> 🌮️ Mexican food <br/>    
      </p>
  
      <input type="submit" value="Let's go"/><br/><br/><br/>
    </form>  
</body>

<body>
    <p>
        
        </p>
</body>

<h3>
    
    Below is the graphs which describles the average ratings/prices of the food type in {{state}}!</h3>
{{plot_div | safe}}


<footer>
    <br>
    <br>
    <p><div class="center">© 2021 Xin Ye</div></p>
</footer>
</html>